{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "embeddedLanguageFormatting": "auto"
}
